<div class="container mx-auto p-6">
  <h2 class="text-2xl font-bold mb-4">Offer List</h2>
  <nz-table #basicTable>
    <thead>
    <tr>
      <th>ID</th>
      <th>Quote Id</th>
      <th>Offer Currency Type</th>
      <th>Offer Amount</th>
      <th>Creation Date</th>
      <th>Last Update</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let offer of offers">
      <td>{{ offer.id }}</td>
      <td>{{ offer.quote_id }}</td>
      <td>{{ offer.offer_currency_type }}</td>
      <td>{{ offer.offer_amount }}</td>
      <td>{{ offer.created_at }}</td>
      <td>{{ offer.updated_at }}</td>
    </tr>
    </tbody>
  </nz-table>
</div>
